#root {
  height: 100%;
  overflow: hidden;
}

.App {
  background-color: gray;
  height: 100%;
  width: 100%;
  align-items: center;
}

/* Nav-Bar css */

.nav-bar {
  height: 60px;
  background-color: darkolivegreen;
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 800;
}

.nav-bar > :not(:last-child) {
  margin-right: 10px;
}

/* Today view page */

.today-view {
  width: 80%;
  background-color: darkgray;
  padding: 10px;
  margin: 0 10%;
	height: calc(100% - 60px);
	overflow-y: scroll;
}

.paper {
	padding: 5px 25px 25px 25px;
	background-color: darkolivegreen !important;
	color: beige !important;
}

.card {
	background-color: darkgrey !important;
}

.display-flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}